In [1]:
import pandas as pd

In [3]:
s = pd.Series(list('sasgaggsgaggsggagagdggddk'))
s

0     s
1     a
2     s
3     g
4     a
5     g
6     g
7     s
8     g
9     a
10    g
11    g
12    s
13    g
14    g
15    a
16    g
17    a
18    g
19    d
20    g
21    g
22    d
23    d
24    k
dtype: object

In [4]:
s.unique()

array(['s', 'a', 'g', 'd', 'k'], dtype=object)

In [5]:
s.value_counts()

g    12
a     5
s     4
d     3
k     1
dtype: int64

In [6]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [7]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
19826,Quitinete,Glória,1,0,0,10,400.0,107.0,10.0,40.00,Apartamento
19827,Quitinete,Flamengo,1,0,0,23,900.0,605.0,0.0,39.13,Apartamento
19828,Quitinete,Centro,1,0,0,24,1100.0,323.0,0.0,45.83,Apartamento
19829,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0,68.18,Apartamento
19830,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento

In [8]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [11]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64